{% extends "bank/base.html" %}
{% load crispy_forms_tags %}
	{% block content %}
		<article>
		  <div class="content-section">
			  <form method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<fieldset class="form-group">
						<legend class="boder-bottom mb-4">Zmień swoje dane adresowe</legend>
						{{ u_form|crispy }}
					</fieldset>
					<div class="form-group">
						<button class="btn btn-outline-info" type="submit">Zaktualizuj</button>
					</div>
				</form>
			</div>
		</article>
	{% endblock content %}